@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");

@font-face {
	font-family: "CircularStd";
	src: url("../fonts/CircularStd-Book.woff2") format("woff2"),
		url("../fonts/CircularStd-Book.woff") format("woff");
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "CircularStd";
	src: url("../fonts/CircularStd-Medium.woff2") format("woff2"),
		url("../fonts/CircularStd-Medium.woff") format("woff");
	font-display: swap;
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "CircularStd";
	src: url("../fonts/CircularStd-Bold.woff2") format("woff2"),
		url("../fonts/CircularStd-Bold.woff") format("woff");
	font-display: swap;
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "CircularStd";
	src: url("../fonts/CircularStd-Black.woff2") format("woff2"),
		url("../fonts/CircularStd-Black.woff") format("woff");
	font-display: swap;
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: "CooperBlack";
	src: url("../fonts/CooperBlack_cyr.woff2") format("woff2"),
		url("../fonts/CooperBlack_cyr.woff") format("woff");
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Amerika";
	src: url("../fonts/AMERIKA_.woff2") format("woff2"),
		url("../fonts/AMERIKA_.woff") format("woff");
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}


body {
	background-image: url("../img/Aurora.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	opacity: 90%;
	font-size: 20px;
	height: 100%;
}
.container{
	color: azure;
	font-family: "CircularStd";
	max-width: 1200px;
	margin: 0 auto;
}

ul{
	font-family: "Amerika";
}
.title{
	font-family: "Amerika";
	font-size: 50px;
	padding: 10px;
}

.plus{
	font-family: 'CooperBlack';
}

a{
	background-color: rgba(0, 255, 255, 0.438);
}



